.list {
  header {
    .search {
      @include absolutePosition(0 0 inherit inherit);
      width: 40px; height: 40px; overflow: hidden;

      .icon   { @extend .icon-search; @include absolutePosition(0 inherit inherit 0); }
      input   { height: 40px; width: 100%; padding: 0 5em 0 2.5em; outline: none; border: none; }
      input   { display: none; }
      .cancel { @include headerButton; @include absolutePosition(0 1em initial initial); }
      .cancel { display: none; }
    }
    .new + .search { @include absolutePosition(0 40px inherit inherit); }

    .spinner { @include spinner; position: absolute; margin: .5em 0 0 -2.25em; }
    .spinner { display: none; }
  }

  &.list-search {
    header {
      .search {
        @include absolutePosition(0 0 inherit 0);
        width: 100%; background-color: $white;

        input { display: block; }
        .cancel { display: inline; }
        .icon:hover { opacity: 1; }
        .icon:before { border-color: $stableColor; }
        .icon:after { background-color: $stableColor; }
      }
      .new + .search { @include absolutePosition(0 0 inherit 0); }
    }
    .item-folder { display: none; }
  }

  &.show-spinner {
    header .spinner { display: inline-block; }
  }
}
