/* Layouts */
$tablet:  "screen and (min-width:768px)";
$desktop: "screen and (min-width:1024px)";


/* Mobile Layout */
.sidebar { @include absolutePosition(0 0 0 0); z-index: 1; }
.module  { @include absolutePosition(0 0 0 0); z-index: 2; }
.view    { @include absolutePosition(0 0 0 0); z-index: 3; background-color: #fff; }
.list    { @include absolutePosition(0 0 0 0); z-index: 0; overflow: hidden; background-color: #fff; }


/* Tablet Layout */
@media #{$tablet} {
  .sidebar                        { right: inherit; width: 9em;           }
  .module                         { left: 9em; @include leftBorderShadow; }
  .module .list:first-child .back { display: none; }
}


/* Desktop Layout */
@media #{$desktop} {
  .sidebar         { width: 10em; }
  .module          { left:  10em; }
  .list            { width: 22em; }
  .list.list-aside { left: 22em; right: 0; width: auto;     }
  .view            { left: 22em; @include leftBorderShadow; }
  .view.fullsize   { left: 0em; box-shadow: none;           }

  .list header, .list .items { font-size: .9em; }
  .list.list-aside header    { font-size: 1em;  }

  .list header { line-height: 2.9em; border-right: 1px solid $neutralColor; }

  .list.list-aside header .back, .view header .close { @include headerBackArrowWithText;  }
  .view .input-stacked textarea, .view > form, .list .items { @include customScrollbar(); }
}




