/* Layouts */
$tablet:  "screen and (min-width:768px)";
$desktop: "screen and (min-width:1150px)";

/* Mobile Layout */
.sidebar { @include absolutePosition(0 0 0 0); z-index: 1; }
.module  { @include absolutePosition(0 0 0 0); z-index: 2; }
.view    { @include absolutePosition(0 0 0 0); z-index: 3; background-color: #fff; }
.list    { @include absolutePosition(0 0 0 0); z-index: 0; overflow: hidden; background-color: #fff; }

/* Tablet Layout */
@media #{$tablet} {
  .sidebar { right: inherit; width: 9em; }
  .module  { right: inherit; left: 9em; width: 20em; }
  .view    { left: 29em; }
  .list    { font-size: .9em; }
  .items .item:active { background: $neutralColor; }
  .module .list:first-child .back { display: none; }
  .view header .close { @include absolutePosition(0 inherit inherit 1em); color: $positiveColor; &:before { display: none; } }
  .view header .title { padding-left: 64px; }
  .module, .view { box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
  .module {
    &:after {
      display: block; content: ''; width: 4px; @include position(absolute, 0px -3px 0px null);
      background-color: $white; border-left: 1px solid $neutralColor;
    }
  }
  // custom scrollbar
  .redactor-editor, textarea.redactor, .view .input-stacked textarea, .view > form, .list .items { @include customScrollbar(); }
}

/* Desktop Layout */
@media #{$desktop} {
  .sidebar { width: 10em; }
  .module  { left: 10em; width: 22em; }
  .view    { left: 32em;  }
}




