/* Layouts */
$tablet:  "screen and (min-width:768px)";
$desktop: "screen and (min-width:1150px)";


/* Mobile Layout */
.sidebar { @include absolutePosition(0 0 0 0); z-index: 1; }
.module  { @include absolutePosition(0 0 0 0); z-index: 2; }
.view    { @include absolutePosition(0 0 0 0); z-index: 3; background-color: #fff; }
.list    { @include absolutePosition(0 0 0 0); z-index: 0; overflow: hidden; background-color: #fff; }


/* Tablet Layout */
@media #{$tablet} {
  .sidebar         { right: inherit; width: 9em;        }
  .module          { left: 9em;                         }
  .list            { right: inherit; width: 20em;       }
  .list.list-aside { left: 20em; right: 0; width: auto; }
  .view            { left: 29em;                        }
  .view.fullsize   { left: 9em;                         }

  .module, .view { @include leftBorderShadow; }

  .list header, .list .items { font-size: .9em; }
  .list header { line-height: 2.9em; border-right: 1px solid $neutralColor; }

  .view header .close { @include absolutePosition(0 inherit inherit 1em); @include headerButton; width: auto; &:before { display: none; } }

  .module .list:first-child .back { display: none; }

  // scrollbars
  .view .input-stacked textarea, .view > form, .list .items { @include customScrollbar(); }
}


/* Desktop Layout */
@media #{$desktop} {
  .sidebar         { width: 10em;                       }
  .module          { left: 10em;                        }
  .list            { width: 22em;                       }
  .list.list-aside { left: 22em; right: 0; width: auto; }
  .view            { left: 32em;                        }
  .view.fullsize   { left: 10em;                        }
}




