/* Settings ---------------------------------------------------------------- */
$positiveColor:  rgb( 74,135,238) !default;
$stableColor:    rgb(178,178,178) !default;
$lightColor:     rgb(210,210,210) !default;
$assertiveColor: rgb(239, 78, 58) !default;
$neutralColor:   rgb(246,246,246) !default;
$contrastColor:  rgb(230,230,230) !default;
$white:          rgb(255,255,255) !default;
$black:          #333 !default;