<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="ROBOTS" content="NOINDEX, NOFOLLOW">

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

  <%%= display_meta_tags site: "<%= app_name %>", title: "CMS" %>

  <%%= csrf_meta_tags %>
  <%%= stylesheet_link_tag :admin, media: "all" %>
</head>

<body class="<%%= body_class %>">
  <%%= yield %>
</body>

</html>