/* Form -------------------------------------------------------------------- */
.view {
  form  { @include absolutePosition(42px 0 0 0); @include scrollable(); z-index: 0; padding-bottom: 5em; }
  form  { color: $black; }
  label { display: block; }

  .input-stacked {
    @include position(relative); @include border($neutralColor); &:first-child { @include noBorder(); }
    padding: .5em 1em .9em;

    &.input-text { min-height: 82px; } // workaround for empty or oneline textareas
    &.input-select select { margin-top: 0.15em; }

    textarea     { resize: none; overflow: auto; }
    textarea     { box-sizing: border-box; min-height: 20px; /* max-height: 400px; /* optional */ }
    textarea,
    input        { outline-style: none; border: 0; width: 100%; @include placeholder { color: $lightColor; } }
    .label       { display: block; line-height: 1.8; color: $stableColor; }
  }

  .delete { display: block; text-align: center; margin: 5em 0; line-height: 2.5em;
                color: $assertiveColor; border: 1px solid $assertiveColor; border-left: none; border-right: none;
                &:hover, &:active { background-color: $assertiveColor; color: #fff; } }

  .error-message { color: $assertiveColor; font-size: .8em; margin-left: .5em; }

  &.view-saving {
    header .save { display: none; }
    header:after {
      font-size: .8em;
      content: 'Saving...';
      opacity: .4;
      @include absolutePosition(.4em .8em inherit inherit);
    }
  }

  /* Imports --------------------------------------------------------------- */
  @import "input_checkbox";
  @import "input_color";
  @import "input_file";
  @import "input_list";
  @import "input_string";
  @import "input_text";
  @import "nested_form";
}





