/* Nested Form ------------------------------------------------------------- */
.view .nested-forms {
  & > .label { margin-bottom: .25em; }
  & > ul { margin: 0; padding: 0; }
  & > ul > li { list-style-type: none; margin-top: 1em; @include position(relative); border: 1px solid $neutralColor; }
  & > ul > li:first-child { margin-top: 0; }
  & > ul > li > .icon-reorder { left: 0; top: 1em; }
  & > ul li.reorderable { background-color: $white; }
  & > ul li.reorderable > .input-stacked:first-child { padding-left: 2.4em; }
}

.view .nested-form-new {
  color: $positiveColor; margin-top: .75em; display: inline-block; font-size: .9em;
  &:hover { opacity: .5; }
}

.view .nested-form-delete {
  @include position(absolute, .35em .3em null null); border-radius: 1em;
  @include hide-text; width: 1.5em; height: 1.5em;  background-color: rgba(0,0,0,.05);
  &:before { content: '\00d7'; color: $stableColor; line-height: 1.35em; width: 1.5em; text-align: center; }
  &:hover  { background-color: $positiveColor; &:before { color: $white; } }
}




