/* Color ------------------------------------------------------------------- */
.view .input-color {
  position: relative;
  padding-left: 4.75em;

  .preview {
    @include position(absolute, .65em null null 1em);
    width: 50px; height: 50px; border-radius: 4px; background-color: #eee;
  }
}