@import "vendor/select2";


.input-stacked.input-select2 {
  padding-bottom: .3em;
}

.select2-dropdown,
.select2-container--default .select2-selection--single {
  border-color: $neutralColor;
  border-radius: 0;
}

.select2-container--default .select2-selection--single {
  border: 0;
}

.select2-container--open .select2-dropdown--above {
  border: 1px solid $neutralColor; border-top: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 1.4em;
  color: $black;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: $positiveColor transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent $positiveColor transparent;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: $contrastColor;
  &:focus {
    border-color: $stableColor;
  }
}

.select2-container--default * {
  &:focus {
    outline: none;
  }
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: $neutralColor;
  color: $black;
}

.select2-results__option {
  font-weight: 300;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $positiveColor;
  color: $white;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  &:hover {
    background-color: $positiveColor;
    color: $white;
  }
}

.select2-container--default .select2-results > .select2-results__options {
  @include custom-scrollbar();
}

.select2-dropdown--below {
  top: -4px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: 1px;
  top: -1px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 20px;
  padding-right: 8px;
}

.select2-search--dropdown {
  padding: 0;
  margin: 0 -1px;
}




