/* List -------------------------------------------------------------------- */
.view .input-list {
  input   { padding-left: 2em; margin-top: .1em; }
  ul      { line-height: 1.5; margin: 0 0 0 2em; list-style: none; padding: 0; }
  ul li   { @include user-select-none; position: relative; }
  ul li a { color: $assertiveColor; font-size: .75em; }

  .slip-reordering { color: $positiveColor; }

  .icon-reorder {
    width:  25px;
    height: 25px;
    left:  -1.75em;
    &:before { left: 0; top: 9px; }
    &:after  { left: 0; top: 14px; }
  }
}

.view .input-list {
  .twitter-typeahead       { width: 100%; }
  .twitter-typeahead:after {
    content: '+';
    display: block;
    width: 40px;
    height: 24px;
    position: absolute; left: 12px; top: -3px;
    font-size: 22px;
    color: $contrastColor;
  }

  .tt-suggestions     { padding: .1em .5em; margin: 0 0 0 1.55em; background: rgba(255,255,255, .95); }
  .tt-suggestion      { cursor: pointer; opacity: .5;
    p           { line-height: 1.5; margin: 0; }
    &.tt-cursor { opacity: 1; }
  }
}