/* Settings ---------------------------------------------------------------- */

$base-font-family : 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif !default;

$light   : 300 !default;
$regular : 400 !default;
$medium  : 500 !default;
$bold    : 600 !default;
$black   : 800 !default;

$base-font-color : #2e2e2e !default;
$positive-color  : #4a87ee !default;
$assertive-color : #ee5f4a !default;
$border-color    : #f6f6f6 !default;

$sidebar-color           : #aaa    !default;
$sidebar-bg-color        : #222    !default;
$sidebar-active-color    : white   !default;
$sidebar-active-bg-color : #1a1a1a !default;

$list-bg-color : #fafafa !default;

$formagic-base-color      : $base-font-color;
$formagic-positive-color  : $positive-color;
$formagic-assertive-color : $assertive-color;
$formagic-border-color    : $border-color;

/* Theme ------------------------------------------------------------------- */

html {
  font-family : $base-font-family;
  color       : $base-font-color;
}

a {
  color : $positive-color;
}

.menu a {
  color   : $base-font-color;
  padding : .75em 1em;
}

.menu-title,
.header .title,
.header .save {
  font-weight : $medium;
}

.header {
  background-color : rgba(255,255,255,.9);
}

.spinner {
  border-color      : rgba($positive-color, 0.2);
  border-left-color : $positive-color;
}

.item {
  color      : $base-font-color;
  margin-top : -1px;
  &.active {
    background-color : $border-color;
    z-index          : 1;
  }

  @include bottom-border($border-color);
  &:last-child { @include no-bottom-border; }
}

.item-subtitle {
  color : rgba($base-font-color, .4);
}

.view-delete {
  display      : block;
  text-align   : center;
  margin       : 5em 0;
  line-height  : 2.5em;
  color        : $assertive-color;
  border       : 1px solid $assertive-color;
  border-left  : none;
  border-right : none;

  &:hover,
  &:active {
    background-color : $assertive-color;
    color            : white;
  }
}

/* Sign in ----------------------------------------------------------------- */

.signin-modal {
  @include position(relative);

  .notice, .alert {
    text-align : center;
    padding    : 0 1em;
  }

  .alert {
    color : $assertive-color;
  }

  h2 {
    text-align : center;
    font-size  : 1em;
    margin     : 1em 0;
  }

  input[type=submit] {
    background-color : white;
    border-radius    : .25em;
    padding          : 1em 3em;
    display          : block;
    border           : 1px solid $positive-color;
    margin           : 1.5em auto;
    color            : $positive-color;

    &:hover {
      background-color : $positive-color;
      color            : white;
    }
  }

  input[type=submit] + a {
    @include position(absolute, null 1em -2em null);
  }

  .label a {
    font-size : .8em;
    float     : right;
  }
}

/* Icons ------------------------------------------------------------------- */

.search .icon { @include icon-search($positive-color); }
.list-search .search .icon { @include icon-search(lighten($base-font-color, 40%)); }

.header .new { @include icon-plus($positive-color); }

.icon-reorder { @include icon-reorder(lighten($base-font-color, 50%)); }
.icon-folder  { @include icon-folder(lighten($base-font-color, 50%)); }

.slip-reordering > .icon-reorder:before,
.slip-reordering > .icon-reorder:after { background-color: $positive-color; }

.header .back, .header .close { @include icon-arrow($positive-color); }

/* Layouts ----------------------------------------------------------------- */

@media #{$tablet} {
  .sidebar {
    background-color : $sidebar-bg-color;
  }

  .menu a {
    color : $sidebar-color;
    &:hover {
      background-color : $sidebar-active-bg-color;
    }
    &.active {
      background-color : $sidebar-active-bg-color;
      color            : $sidebar-active-color;
    }
  }

  .menu-title {
    color : $sidebar-color;
  }

  .signin-modal {
    max-width : 26em;
    border    : 1px solid $border-color;
    margin    : 5em auto 1em;

    form {
      margin-left: .5em;
    }
  }
  .list {
    background-color : $list-bg-color;
    .header {
      background-color : $list-bg-color;
    }
    &.list-aside {
      background-color : white;
      .header {
        background-color : white;
      }
    }
  }
}

@media #{$desktop} {
  .list .header { border-color: $border-color; }
  .input-text textarea, .content, .items { @include custom-scrollbar(rgba($base-font-color, .25), $border-color, 3px); }
}
