@import "redactor";


// input
.input-inverter,
.input-redactor {
  .redactor-box     { margin-bottom: 0; }
  .redactor-toolbar { box-shadow: none; border-bottom: 2px solid $neutralColor; }
  .redactor-editor  { border: 0; padding: 1em 0 0 0; }
}


// placeholder
.redactor-placeholder:after { color: $lightColor!important; }


// scrollbars
.redactor-editor, textarea.redactor { @include custom-scrollbar; }


// line-height issue fix
.redactor-editor { line-height: inherit !important; }




