@import "redactor";


// input
.input-inverter,
.input-redactor {
  .redactor-box     { margin-bottom: 0; }
  .redactor-toolbar { box-shadow: none; border-bottom: 2px solid $neutralColor; }
  .redactor-editor  { border: 0; padding: 1em .5em 0 .5em; }
}

// toolbar
.redactor-toolbar li a:hover { background-color: $positiveColor; }
.redactor-dropdown a:hover { background-color: $positiveColor; }

// placeholder
.redactor-placeholder:after { color: $lightColor!important; left: .5em; top: 18px; }

// scrollbars
.redactor-editor, textarea.redactor { @include custom-scrollbar; }

// line-height issue fix
.redactor-editor { line-height: inherit !important; }

// modal
#redactor-modal-close { line-height: 30px; text-align: center; }
#redactor-modal footer button {
  &.redactor-modal-close-btn { background-color: $lightColor;
    &:hover { background-color: $lightColor;     opacity: .75; } }
  &.redactor-modal-action-btn { background-color: $positiveColor;
    &:hover { background-color: $positiveColor;  opacity: .75; color: $white; } }
  &.redactor-modal-delete-btn { background-color: $assertiveColor;
    &:hover { background-color: $assertiveColor; opacity: .75; color: $white; } }
}

